.container{
    text-align: center;
    margin-left: 80px;
}
table{
    margin: auto;
}
input{
    margin: 10px;
    font-size: 34px;
    border-radius: 29px;
    width: 426px;
    height: 47px;
    border: 3px solid black;
}
button{
    margin: 1.5px;
    font-size: 33px;
    width: 102px;
    height: 63px;
    border-radius: 33px;
}
.calculator{
    display: inline-block;
    border: 2px solid black;
    border-radius: 74px;
    padding: 15px;
    background-color: #e7c3c3;
}

button:hover{
    color: blanchedalmond;
    background-color: black;
}